@import 'https://cdn.jsdelivr.net/npm/heti/umd/heti.min.css';
@import 'https://cdn.jsdelivr.net/npm/github-markdown-css/github-markdown-dark.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #61bfad;
  --primary-light: #80cbbd;
  --primary-dark: #438579;
  --background: #0b0b0b;
  --background-light: #0d1117;
  --background-lighter: #161b22;
  --foreground: #e6edf3;
  --foreground-light: #ebf0f5;
  --foreground-dark: #a1a5aa;
}

@layer base {
  html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans',
      Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  }

  body {
    @apply text-foreground bg-background antialiased;
  }

  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-700 hover:bg-gray-600 rounded;
  }

  ::selection {
    @apply text-foreground-light bg-primary-dark;
  }
}

@layer components {
  .bilibili-collection {
    img {
      @apply w-full;
    }

    .image-intro {
      @apply backdrop-blur-sm absolute px-4 py-3 inset-x-0 whitespace-pre-wrap;
      background-color: #0b0b0baa;
    }
  }

  .feed {
    .heti {
      h1 {
        @apply hover:text-primary transition;
      }

      figure {
        @apply text-left;

        table {
          @apply ms-0 me-0;
        }
      }

      blockquote {
        p {
          &:last-child {
            @apply my-2 mx-1;
          }
        }
      }
    }
  }

  .github-issue-comment {
    .markdown-body {
      @apply overflow-auto;
      max-height: 80vh;
    }
  }

  .feed,
  .github-issue-comment {
    img {
      @apply mx-auto rounded;
      max-height: 60vh;
    }
  }
}
